# ignore wrap fetched from master repo

freertos/
freertos-posix/
llvm/
picolibc/
arm-cmsis/
cmsis_device_f0/
cmsis_device_f1/
cmsis_device_f2/
cmsis_device_f3/
cmsis_device_f4/
cmsis_device_f7/
cmsis_device_g0/
cmsis_device_g4/
cmsis_device_h7/
cmsis_device_l0/
cmsis_device_l1/
cmsis_device_l4/
cmsis_device_l5/
cmsis_device_u5/
cmsis_device_wb/
cmsis_device_wl/
stm32f0_hal/
stm32f1_hal/
stm32f2_hal/
stm32f3_hal/
stm32f4_hal/
stm32f7_hal/
stm32g0_hal/
stm32g4_hal/
stm32h7_hal/
stm32l0_hal/
stm32l1_hal/
stm32l4_hal/
stm32l5_hal/
stm32u5_hal/
stm32wb_hal/
stm32wl_hal/
